.addNote {
    width: 335px;
    height: 52px;
    background: #1EF1FF;
    border: 2px solid #000000;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0C0000;
    margin: 10px;
    cursor: pointer;
}

@media screen and (max-width: 355px) {
    .addNote {
      width: 270px;
    }
  } 