textarea {
    padding: 12px;
    width: 309px;
    height: 115px;
    background: #FFFFFF;
    border-style: none;
    margin-left: 9px;
    margin-right: 9px;
}

@media screen and (min-width: 815px) {
    textarea {
      width: 453px;
      height: 139px;
    }
  } 
