.plus {
    width: 80px;
    height: 145px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 145px;
    color: #FFFFFF;
    margin: 20px 40px 0px 0px;
    background-color: #BF06B8;
    border-style: none;
    cursor: pointer;
}