.notesArea {
    display: flex;
    flex-direction: row;
    margin-left:38px;
    margin-top: 59px;
    justify-content: flex-end;
    width: 80%;
  }

.notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
  