.notesArea {
    display: flex;
    flex-direction: row;
    margin-left:38px;
    margin-top: 59px;
    justify-content: center;
  }

.notes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
  