.stickyNote {
    width: 178px;
    height: 161px;
    margin: 20px 20px 20px 0px;
}

.text {
    margin: 16px;
}

@media screen and (max-width: 450px) {

    .stickyNote[style="background-color: rgb(5, 0, 255);"], .stickyNote[style="background-color: rgb(255, 184, 0);"] {
        display: none;
  
  } 
}